* {
  box-sizing: border-box;
}
.cuerpo {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.principal {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foot {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid blue;
}

.title {
  text-align: center;
  align-items: center;
  color: #cc212a;
}
.title-item {
  display: block;
}

.registro {
  border: 3px solid plum;
  position: inherit;
  position: relative;
  transform: translate(0px, -55px);
}

.copy {
  border: 3px solid orange;
}
