.cuerpo {
  margin: 0px;
}
.principal {
  height: 80vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border: 3px solid red;
}

.foot {
  height: 20vh;
  border: 3px solid blue;
}

.pantone {
  border: 3px solid green;
  margin: 0px;
}

.text {
  border: 3px solid yellow;
}

.registro {
  border: 3px solid plum;
}

.copy {
  border: 3px solid orange;
}
